body {
  margin: 0;
  padding: 0;
  background-color: #7f7f7f;
  height: 100%;
  font-family: "a";
}

@font-face {
  font-family: "a";
  src: url("./fonts/HealTheWebA-Regular.otf");
}

@font-face {
  font-family: "b";
  src: url("./fonts/HealTheWebB-Regular.otf");
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/public/fonts/PPNeueMontreal-Medium.woff"),
    url("/public/fonts/PPNeueMontreal-Medium.woff2");
}

.flexbox-container {
  display: flex;
  width: 85vw;
  height: 100vh;
  overflow: hidden;
}

.flexbox-container.open {
  width: calc(100% - 4rem);
}

.logo-container {
  display: flex;
  justify-content: start;
  gap: 0;
  width: auto;
  position: fixed;
  text-decoration: none;
  top: 0;
  left: 0;
  padding: 1%;
  z-index: 1000;
  align-items: center;
  mix-blend-mode: difference;
}

.logo-container img {
  height: 3.5rem;
  padding-right: 0.7rem;
  width: auto;
  transition: transform 0.35s ease-in-out, margin 0.4s ease-in-out,
    height 0.2s ease;
}

.logo-container.open img {
  transition: transform 0.42s ease-in-out, margin 0.4s ease-in-out,
    height 0.2s ease;
}

#logo-form2 {
  height: 0.9rem;
  width: auto;
  transform-origin: left;
  transform: translateY(25%);
}

.logo-container.open #logo-form2 {
  height: 0.8rem;
  width: auto;
  transform: translateY(25%) scaleX(164%);
}

.logo-container.open #logo-form3 {
  margin-left: 22%;
  transition: transform 0.4s ease-in-out, margin 0.4s ease-in-out,
    height 0.2s ease;
}

.logo-container:hover #logo-form2 {
  transform: translateY(25%) scaleX(90%);
  height: 0.8rem;
  transition: transform 0.4s ease-in-out, margin 0.4s ease-in-out,
    height 0.2s ease;
}

.logo-container:hover #logo-form3 {
  margin-left: -3.5%;
}

.stories {
  width: 100%;
  padding: 2%;
  padding-top: 7.5rem;
  padding-right: 3%;
  padding-bottom: 5%;
  background-color: white;
  overflow-y: scroll;
  display: inline;
  gap: 1em;
  height: auto;
  padding-bottom: 20px;
  scroll-behavior: smooth;
  position: relative;
  box-shadow: 1px 1px 40px grey;
  transition: 0.1s ease;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.stories * {
  text-decoration: none !important;
}

.stories::-webkit-scrollbar {
  display: none;
}

.stories.locked {
  width: 53.5%;
  background-color: white;
}

#openForm {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 10%;
  border-radius: 1rem;
}

form {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  width: 45%;
  padding: 1.5%;
  transform: translateX(calc(100% - 4rem));
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px black;
  justify-content: end;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  transition: 0.2s ease;
}

form:not(.open):hover {
  transform: translateX(calc(100% - 6rem));
  cursor: pointer;
}

#formIntro {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  color: white;
  font-family: "a";
  font-size: 3rem;
}

form.open {
  transform: translateX(0%);
  transition: 0.2s transform;
}

form * {
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}

form.open * {
  opacity: 1;
  transform: translateX(0%);
  transition-delay: 1s;
  transition: opacity 0.2s;
  cursor: auto;
}

form #add {
  position: fixed;
  left: 0;
  width: 4rem;
  height: 100%;
  top: 50%;
  font-size: 4rem;
  transform: translatey(-50%);
  background-color: transparent;
  color: white;
  border: none;
  font-family: "b";
  cursor: pointer;
  opacity: 1;
}

form.open #add {
  display: none;
}

#radio-group {
  display: flex;
  gap: 0;
}

#radio-group button {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  padding: 1%;
  border: none;
  font-size: 2vw;
  font-family: "a";
  border: 0.1rem solid black;
  cursor: pointer;
}

#radio-group button.active,
#radio-group button:hover {
  background-color: green;
  border: 0.1rem solid white;
}

#content-input {
  height: 0vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-input.active {
  height: 50%;
  transition: 0.7s ease;
}

.tree {
  background-color: rgb(223, 223, 223);
  width: 5%;
  font-size: 5rem;
  cursor: pointer;
  padding: 0% 2% 2% 2%;
  overflow: hidden;
  transition: 0.2s ease;
  pointer-events: all;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.tree::-webkit-scrollbar {
  display: none;
}

.tree * {
  filter: blur(7px);
}

.tree.open * {
  filter: blur(0);
}

.tree.open {
  width: 100%;
  overflow: auto;
}

.tree.locked * {
  pointer-events: none;
}

.notFetched {
  border-left: none;
  color: white !important;
  filter: blur(8px) grayscale(1) !important;
  opacity: 0.2;
}

#treeZoom {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 5rem;
  z-index: 8;
  font-size: 3vw;
}

#slider {
  width: 10rem;
  object-fit: scale-down;
  height: 4rem;
  transform: scaleX(100%):
  transition: 0.2s ease;
  cursor: grab;
  transform-origin: right;
}

.story-part {
  display: inline;
  max-height: auto;
  max-width: 100%;
  overflow: scroll;
  color: rgb(0, 0, 0);
}

.entry {
  color: rgb(0, 0, 0);
  font-size: 3.1rem;
  line-height: 125%;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 1rem 1rem 1rem 1rem;
}

.locked .entry {
  pointer-events: none;
  opacity: 0.4;
  filter: blur(15px);
  transition: filter 0.3s, opacity 0.3s;
}

.locked span:nth-last-child(1) .entry {
  filter: blur(0);
  opacity: 1;
}

.locked span:nth-last-child(2) .entry {
  filter: blur(7px);
  opacity: 0.9;
}

.locked span:nth-last-child(3) .entry {
  filter: blur(10px);
  opacity: 0.8;
}

.locked span:nth-last-child(4) .entry {
  filter: blur(14px);
  opacity: 0.7;
}

.entry:hover,
.hovered {
  background-color: rgb(242, 242, 242);
  border-radius: 0;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.tree-entry:hover,
.tree-entry.hovered {
  border-radius: 0;
  padding: 0rem;
  border: none;
  color: black;
}

.tree-entry {
  display: flex;
  padding-left: 0;
  padding: 0.8rem;
  font-family: "b";
  text-transform: uppercase;
  width: 4rem;
  transform: scale(1.15);
  text-decoration: none;
  border-radius: 0rem 1rem 1rem 0rem;
  border-left: 0.2rem dashed rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  justify-content: start;
  transition: all 0.2s ease;
  scroll-snap-align: center;
}

.tree.small .tree-entry {
  padding: 0.4rem;
  width: 2rem;
}

.tree.big .tree-entry {
  padding: 1.6rem;
  width: 8rem;
}

.fullname {
  color: rgb(0, 0, 0);
  font-size: 0rem;
  position: relative;
  z-index: 20;
  transition: 0.3s ease;
  transform: translateX(-1rem);
}

.tree.big .fullname {
  border: none;
}

.fullname.hovered {
  text-align: left;
  padding: 0.5rem;
  font-size: 2.8rem;
  box-shadow: none;
  border-left: 0.2rem dashed rgb(255, 255, 255);
}
.split-branches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  scroll-snap-align: center;
  border-top: 0.2rem dashed rgb(255, 255, 255);
}

.branch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

.story-part sup {
  margin-right: 0.3em;
}

.image-part {
  display: inline;
  max-height: 1em;
}

.audio-play-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1em;
  padding: 0;
  display: inline;
}

.input-name {
  border-radius: 1rem;
  width: 75%;
  font-family: "b";
  font-size: 4rem;
  background-color: #ffffff;
  border: none;
  text-align: center;
}

.input-name::-webkit-input-placeholder {
  color: grey;
}

.input-name:-ms-input-placeholder {
  color: grey;
}

.input-name::placeholder {
  color: grey;
}

.input-name:focus {
  outline: none;
}

.textfeld,
.skizze-canvas {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  padding: 3%;
  border-radius: 10px;
  font-size: 1rem;
  font-size: 2.7rem !important;
  font-family: "a";
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.textfeld:focus {
  outline: none;
}

.input-foto,
.audio-recorder {
  width: 100%;
  height: auto;
  border: none;
  resize: none;
  padding: 1em;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.image-preview img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 10px;
  margin-top: 0.5em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.audio-preview {
  margin-top: 1em;
  border-radius: 20px;
}

.input-foto,
.skizze-canvas,
.audio-recorder {
  display: none;
}

.publish {
  font-size: 3vw;
  width: 100%;
  border-radius: 1rem;
  margin-top: 0.1vh;
  margin-bottom: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 0.2rem solid black;
  background-color: white;
  cursor: pointer;
}

.publish:hover {
  background-color: fuchsia;
  border: 0.2rem solid white;
}

label {
  color: white;
}

.content {
  display: contents;
}

/* help styling @jule */
.help-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: rgb(102, 138, 255);
  font-family: "b";
  cursor: pointer;
  z-index: 101;
}

#help {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background-color: rgb(255, 131, 102);
  border-radius: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow: hidden !important;
  box-shadow: -4px 0px 20px rgba(0, 0, 0, 0.3);
}

.help-icon:hover + #help:not(.open) {
  transform: translateX(calc(100% - 4rem));
}

#help.open {
  transform: translateX(0%) !important;
}

#help-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-right: 8rem;
  color: black;
  font-family: "a", sans-serif;
  /* font-family: Arial, sans-serif; */
  line-height: 2rem;
  font-size: 1.8rem;
  opacity: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Content wird nur bei vollständiger Öffnung sichtbar */
#help.open #help-container {
  opacity: 1;
  transition: opacity 0.3s ease 0.2s;
}

#help:not(.open) #help-container {
  opacity: 0;
}

#help-container ul {
  font-family: "NeueMontreal", sans-serif;
  margin: 0.5rem 0;
  padding-left: 1rem;
  line-height: 1.5rem;
  font-size: 1.4rem;
}

#help-container a {
  color: rgb(89, 89, 89);
}

#help-container li {
  margin: 0.6rem 0;
  list-style: none;
  position: relative;
  padding-left: 4rem;
  max-width: 60%;
}

#help-container li::before {
  content: "~~~~~~";
  position: absolute;
  left: 0;
  top: 0;
  color: black;
}
@media (max-width: 768px) {
  .logo-container {
    padding: 2%;
  }
  .logo-container img {
    height: 8.7vw;
    padding-right: 1.3vw;
  }

  #logo-form2 {
    height: 2.1vw;
  }

  .logo-container.open #logo-form2 {
    height: 1.9vw;
  }
}
